#slide{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    img{
        /* max-width: 100%; */
        /* max-height: 100%; */
        object-fit:cover;
    }
    .slide-info{
        /* position: absolute; */
        color: white;
        /* text-align: right; */
        .slide-name{
            font-size: 1.5rem;
        }
        .slide-index{
            font-size: 0.75rem;
        }
    }

}
